@model Estetica5.Models.Servicio

@{
    ViewBag.Title = "Delete";
    Layout = "/Views/Admin/_LayoutAdmi.cshtml";
}

<h2>Eliminar servicio</h2>

<h3>Esta seguro de eliminar el servicio?</h3>
<div>
    <h4>Servicio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tiempo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tiempo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
